VITE_PUBLIC_SUPEBASE_URL=https://phhnpbnydogwoftvnnbd.supabase.co
VITE_PUBLIC_SUPEBASE_ANOM_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBoaG5wYm55ZG9nd29mdHZubmJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjQ0OTU5MDQsImV4cCI6MTk4MDA3MTkwNH0.AyQrwFVrCFJ4c1clo-pqwV0joNy5fXL8hpaT-XNfxBE